footer{
    background-color: #181818;
    color: white;
    
}
.footer-header{
    height: 100px;
}
footer .footer-header i{
    color: red;
    font-size: 2.5rem;
}
footer .footer-header h5{
    font-size: 2.5rem;
}

.menu-lists-item h5{
    font-size: 1.5rem;
}

footer ul li a{
    color: white;
    font-size: 1.1rem;
    display: flex;
    padding: 5px 0;
}

.footer-bottom{
    background-color: #1f1f1f;
    height: 40px;
    text-align: center;
}
.social-icon ul{
    height: 60px;
}
.social-icon ul li i{
    font-size: 1.5rem;
    background-color: #343a40;
    padding: 10px;
    border-radius: 50px;
}
.social-icon ul li i:hover{
    color: red;
}
.footer-social-icon{
    margin: 10px 0;
}
@media screen and (max-width: 1200px){
    .menu-lists-item h5{
        font-size: 2rem;
    }
    .social-icon ul li i{
        font-size: 1rem;
        padding:5px ;
    }
    footer ul li a{
        font-size: 1.1rem;
        padding: 5px 0;
        display: flex;
    }

}
@media screen and (max-width: 953px){
    footer .app-icon a img{
        width: 180px;
        text-align: center;
    }
    footer ul li a{
        font-size: 1.5rem;
        padding: 5px 0;
        display: flex;
    }
    .menu-lists-item h5{
        font-size: 2rem;
    }

}
@media screen and (max-width: 550px){
    .footer-menu-lists{
        flex-direction: column;
        text-align: center;
    }
    .menu-lists-item{
        width: 90%;
        text-align: center;
        
    }
    footer .app-icon a img{
        width: 150px;

    }
    
    /*
    footer ul li a{
        font-size: 1.5rem;
        padding: 5px 0;
        display: flex;
    }
    .menu-lists-item h5{
        font-size: 2rem;
    } */

}

@media screen and (max-width: 441px){
    footer .app-icon{
        flex-direction: column;
    }
}